<html>
  <head>
    <title>HackNet</title>
    <link href="/static/css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <center>
      <a href="/" class="invis">
        <h1>HackNet</h1>
      </a>
      <h2>Create Profile</h2>
      {% for message in get_flashed_messages() %}
      <span class="red">{{ message }}</span><br>
      {% endfor %}
      <div>
        <form action="/create_profile" method="post">
          <table>
            <tr>
              <label>
              <td>Name: </td>
              <td><input type="text" name="name"></input></td>
              </label>
            </tr>
            <tr>
              <label>
              <td>Skills (split by commas): </td>
              <td><textarea type="text" name="skills"></textarea></td>
              </label>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit"></td>
            </tr>
          </table>
        </form>
      </div>
