<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <link rel="stylesheet" href="/static/css/stylesheet.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    </head>
    <body>
        <div  id="app">
            <div v-for="user in users">
                <post :person="user.name" :idea="user.idea" :likes="user.likes"></post>
                <button v-on:click="addlike(user)">Like</button>
                <comment v-for="comment in user.commentlist" :user="comment.user" :message="comment.message"></comment>
            </div>

        </div>
    </body>
    <script src="/static/js/vue.js" charset="utf-8"></script>
</html>
